@model jc279115_MIS4200.Models.Place

@{
    ViewBag.Title = "Restaurant Details";
}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.restName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.restName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNUmber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNUmber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.placeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
